.row-fluid
  .span6
    - simple_list :channel, icon: :folder, create_path: new_application_channel_path(application) do
      - channels.each do |channel|
        - simple_list_item channel.name, edit_application_channel_path(application, channel)
