%h3 Applications

%div
  = link_to "Create Application", new_application_path

%br/

%ul
  - applications.each do |application|
    %li
      = link_to application.name, application
      / = link_to "channels", application_channels_path(application)
      / |
      / = link_to "triggers", application_triggers_path(application)
      / |
      / = link_to "data", application_data_path(application)
      / |
      / = link_to "edit", edit_application_path(application)
      / |
      / = link_to "delete", application, method: :delete, confirm: "Are you sure you want to delete the application '#{application.name}'"
