= render 'shared/application_tabs'

= link_to application_export_path(application), class: 'btn' do
  %i.icon-download
  Export application

%br

= link_to "Delete this application", application, method: :delete, confirm: "Are you sure you want to delete the application '#{application.name}'"

