%input{'ng-model' => 'model', 'ng-show' => 'editable', 'ng-blur' => 'makeNotEditable()', 'ng-keydown' => 'checkEnter($event)', type: 'text', size: "{{size()}}", style: 'width:auto'}
%span{'ng-bind' => 'model', 'ng-hide' => 'editable', 'ng-mouseup' => 'makeEditable()', dragover: 'dragover($event)', drop: 'drop($event)'}
