.svgInput
.svgInputHelp(ng-hide='textselection == ""' )
  %a(href='javascript:' ng-click='createPill()') Make pill for {{textselection}}
.svgInputHelp(ng-show='textselection == ""')
  %span Select text to create pills
.clearfix
