pilltextarea
.svgInput
%br
%p(ng-hide='textselection == ""' )
  %a(href='javascript:' ng-click='createPill()') Make pill for {{textselection}}
%p(ng-show='textselection == ""') Select text to create pills
