%div{'ng-app' => 'mbuilder'}
  - angular_templates "shared/angular"
  - angular_templates "shared/actions"
  - angular_templates "shared/pieces"
  - angular_templates "shared/pills"

  %div{'ng-controller' => 'EditValidationTriggerController', 'ng-init' => validation_trigger_to_angular(application, @validation_trigger)}
    %div.row-fluid
      %div.span6
        %div
          When
          .pill.bound{draggable: 'true', dragstart: 'phoneNumberDragStart($event)'} {{from}}
          tries to insert an
          .pill.bound{draggable: 'true', dragstart: 'invalidValueDragStart($event)'} {{invalid_value}}
          into #{@validation_trigger.table_name} #{@validation_trigger.field_name}
        %br

        %div{'ng-controller' => 'ActionsController'}
          %div{'ng-repeat' => 'action in actions'}
            .action
              %a.delete{href: 'javascript:', 'ng-click' => 'deleteAction($index)'} x
              %div(ng-include src='actionTemplateFor(action.kind)')
            %br
          .new-action
            %a{'ng-click' => 'addSendMessageAction()', href: 'javascript:'} [+] Add "Send message" step
          %br

      %div.span6{'ng-controller' => 'TablesController'}
        %div
          %strong Tables
          %br
          %a{'ng-click' => 'newTable()', href: 'javascript:'} (+) New table
        %br

        %div{'ng-repeat' => 'table in tables', 'ng-controller' => 'TableController'}
          %div.logic-table
            %a.delete{href: 'javascript:', 'ng-click' => 'deleteTable($index)'} x
            .logic-table-name{draggable: 'true', dragstart: 'tableDragStart(table.guid, $event)'}
              %editable-input{'model' => 'table.name', 'editable' => 'table.editable', 'focus' => 'table.focus'}

            %table.table.table-bordered.fields
              %tr
                %td{'ng-repeat' => 'pill in table.fields', 'ng-controller' => 'FieldController', 'ng-right-click' => 'showValidValuesPopup(pill, $event)'}
                  %a.delete{href: 'javascript:', 'ng-click' => 'deleteField($index)'} x
                  .logic-field-name{draggable: 'true', dragstart: 'fieldDragStart(pill.guid, $event)'}
                    %editable-input{'model' => 'pill.name', 'editable' => 'pill.editable', 'focus' => 'pill.focus', 'dragover' => 'dragOverName', 'drop' => 'dropOverName'}
                %td
                  %a{'ng-click' => 'newField()', href: 'javascript:'} (+) New column
              %tr{'ng-repeat' => 'row in selectedTableRows(table)'}
                %td{'ng-repeat' => 'pill in table.fields', 'ng-controller' => 'FieldController', dragover: 'dragOverValue($event)', drop: 'dropOverValue($event)'}
                  {{ row[pill.guid] }}
                %td

              %tr
                %td{'ng-repeat' => 'pill in table.fields', 'ng-controller' => 'FieldController', dragover: 'dragOverValue($event)', drop: 'dropOverValue($event)'}
                  %span(ng-include src='pillTemplateFor(pill)')
                %td
          %br

    %button.btn{'ng-click' => 'save()'} Save

    %div#aggregate-functions.popup{'ng-controller' => 'AggregateFunctionsController'}
      %div{'ng-repeat' => 'aggregate in aggregates'}
        %a{'href' => 'javascript:', 'ng-hide' => 'aggregateFunctionPopup.pill.aggregate == aggregate.id', 'ng-click' => 'select(aggregate)'} {{aggregate.name}}
        %strong{'ng-show' => 'aggregateFunctionPopup.pill.aggregate == aggregate.id'} {{aggregate.name}}

    %div#valid-values.popup{'ng-controller' => 'ValidValuesController'}
      %label{for: 'valid-values'} Valid values for {{lookupFieldName(validValuesPopup.field.guid)}}:
      %div
        %input{name: 'valid-values', 'ng-model' => 'validValuesPopup.field.valid_values', 'ng-keydown' => 'keydown($event)'}
      %div{style: 'margin-top: 8px'}
        %a{'href' => 'javascript:', 'ng-click' => 'defineValidationTrigger()'} Trigger this when values are invalid
      %div{style: 'margin-top: 8px'}
        %button.btn{'ng-click' => 'hidePopups()'} Close
