.pull-right
  %a.btn-icon{:href => "#"}
    %i.icf-settings
  %a.btn-icon{:href => "#"}
    %i.icf-configuration.btn-group.pull-right.user
.btn-group.pull-right
  - if current_user
    - dropdown current_user.email do
      - dropdown_item 'Settings', guisso_settings_path(:user), target: '_blank'
      - dropdown_divider
      - dropdown_item 'Sign out', destroy_session_path(:user, after_sign_out_url: root_url), method: :delete
  - else
    %a.btn.btn-link{href: guisso_sign_in_path_for(:user)}
      Sign in
