%div{'ng-controller' => 'ActionsController'}
  .space-between-actions{'dragover' => 'dragOverSpaceBetweenActions($event)', 'drop' => 'dropOverSpaceBetweenActions(0, $event)'}
  %div{'ng-repeat' => 'action in actions'}
    .action{draggable: 'true', dragstart: 'actionDragStart(this, action, $index, $event)', dragend: 'actionDragEnd($event)'}
      %a.delete{href: 'javascript:', 'ng-click' => 'deleteAction($index)'} x
      %div(ng-include src='actionTemplateFor(action.kind)')
    .space-between-actions{'dragover' => 'dragOverSpaceBetweenActions($event)', 'drop' => 'dropOverSpaceBetweenActions($index + 1, $event)'}
  .new-action
    %a{'ng-click' => 'addSendMessageAction()', href: 'javascript:'} [+] Add "Send message" step
  %br

  .modal.hide#actions-modal-delete{'tabindex' => "-1", 'role' => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ 'type' => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
            &times;
          %h4.modal-title Delete action
        .modal-body
          When deleting the foreach, do you want to also delete its actions or to keep them?
        .modal-footer
          %button.btn.btn-primary{'ng-click' => 'modalDeleteForeachAndActions()'} Delete foreach and its actions
          %button.btn.btn-primary{'ng-click' => 'modalDeleteForeachKeepActions()'} Delete foreach, keep its actions
