.action-container{'ng-controller' => 'ActionsController'}
  = render 'shared/triggers/actions_contents'
  .new-action
    = render 'shared/triggers/add_action'
  %br

  .modal.hide#actions-modal-delete{'tabindex' => "-1", 'role' => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ 'type' => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
            &times;
          %h4.modal-title Delete action
        .modal-body
          When deleting the foreach, do you want to also delete its actions or to keep them?
        .modal-footer
          %button.btn.btn-danger{'ng-click' => 'modalDeleteForeachAndActions()'} Delete foreach and its actions
          %button.btn{'ng-click' => 'modalDeleteForeachKeepActions()'} Delete foreach, keep its actions
