.btn-group
  %a.btn.btn-link.button-icon.blue.dropdown-toggle(data-toggle="dropdown" href="#")
    %span.btn-icon
      %i.icc-add
    Add step
  %ul.dropdown-menu
    %li
      %a{'ng-click' => 'addSendMessageAction()', href: 'javascript:'}
        %i.i40-sms
        %span Send SMS
      %a{'ng-click' => 'addLoopAction()', href: 'javascript:'}
        %i.i25-loop
        %span Loop
      %a{'ng-click' => 'addIfAction()', href: 'javascript:'}
        %i.i25-condition
        %span Condition
