.btn-group
  = icon_link_to :'icc-add', 'Add step', '#', class: 'btn btn-link blue dropdown-toggle', :'data-toggle' => "dropdown"
  %ul.dropdown-menu
    %li
      %a{'ng-click' => 'addSendMessageAction()', href: 'javascript:'}
        %i.i25-sms
        %span Send SMS
      %a{'ng-click' => 'addLoopAction()', href: 'javascript:'}
        %i.i25-loop
        %span Loop
      %a{'ng-click' => 'addIfAction()', href: 'javascript:'}
        %i.i25-condition
        %span Condition
      %a{'ng-click' => 'addHubAction()', href: 'javascript:'}
        %i.i25-condition
        %span Hub Action
      %a{'ng-click' => 'addExternalServiceAction()', href: 'javascript:'}
        %i.i25-condition
        %span External Service
