%div#aggregate-functions.popup{'ng-controller' => 'AggregateFunctionsController'}
  %div{'ng-repeat' => 'aggregate in aggregates'}
    %a{'href' => 'javascript:', 'ng-class' => '{ selected : aggregateFunctionPopup.pill.aggregate == aggregate.id }', 'ng-click' => 'select(aggregate)'} {{aggregate.name}}

%div#aggregate-functions-error.popup{'ng-controller' => 'AggregateFunctionsController'}
  Aggregate is not supported for Resource Map or Hub columns

%div#valid-values.popup{'ng-controller' => 'ValidValuesController'}
  %label{for: 'valid-values'} Valid values for {{lookupFieldName(validValuesPopup.field.guid)}}
  %div
    %input{name: 'valid-values', 'ng-model' => 'validValuesPopup.field.valid_values', 'ng-keydown' => 'keydown($event)'}
  .description Use comma separated values or range for numbers like "lorem, ipsum, 1-9"
  %div{style: 'margin-top: 8px'}
    %a{'href' => 'javascript:', 'ng-click' => 'defineValidationTrigger()'} Trigger this if values were invalid
  %div{style: 'margin-top: 8px'}
    = icon_link_to :'icf-arrow', "Group by this column", 'javascript:', 'ng-click' => 'groupBy(validValuesPopup.field)', 'ng-hide' => 'hideGroupByOption()'

%div.if-operators#if-operators-singular.popup{'ng-controller' => 'IfOperatorsController'}
  %div{'ng-repeat' => 'operator in ifOperatorsSingular'}
    %a{'href' => 'javascript:', 'ng-class' => '{ selected: ifOperatorsPopup.action.op == operator.id }', 'ng-click' => 'select(operator)'} {{operator.desc}}

%div.if-operators#if-operators-plural.popup{'ng-controller' => 'IfOperatorsController'}
  %div{'ng-repeat' => 'operator in ifOperatorsPlural'}
    %a{'href' => 'javascript:', 'ng-class' => '{ selected: ifOperatorsPopup.action.op == operator.id }', 'ng-click' => 'select(operator)'} {{operator.desc}}

%div#if-aggregates.popup{'ng-controller' => 'IfAggregatesController'}
  %div{'ng-repeat' => 'operator in ifAggregates'}
    %a{'href' => 'javascript:', 'ng-class' => '{ selected: ifAggregatesPopup.action.all == operator.id }', 'ng-click' => 'select(operator)'} {{operator.desc}}

#add-external-service.dropdown.open.popup{'ng-controller' => 'AddExternalServiceController'}
  %ul.dropdown-menu
    %li{'ng-show' => 'external_services.length == 0'}
      = link_to 'Register new', application_external_services_path(application), target: '_blank', :'ng-click' => "hidePopups()"
    %li.dropdown-submenu{'ng-repeat' => 'external_service in external_services'}
      %a(href="#") {{external_service.name}}
      %ul.dropdown-menu
        %li{'ng-repeat' => 'step in external_service.steps'}
          %a{'href' => 'javascript:', 'ng-click' => 'select(step)'}
            {{step.display_name}}
