%div.span6{'ng-controller' => 'TablesController'}
  %p Use tables to store or retrieve data

  %div{'ng-repeat' => 'table in tables', 'ng-controller' => 'TableController'}
    .logic-table
      %a.delete{href: 'javascript:', 'ng-click' => 'deleteTable($index)', title: 'Delete table'}
        %i.icf-delete
      .logic-table-name{draggable: 'true', dragstart: 'tableDragStart(table.guid, $event)'}
        %div{'ng-hide' => 'table.readonly'}
          .pill-container
            %editable-input{'model' => 'table.name', 'editmode' => 'table.editmode', 'focusmode' => 'table.focusmode'}
        %span{'ng-show' => 'table.readonly'}
          {{table.name}} (from {{table.kind}})
          %a.refresh{href: 'javascript:', 'ng-click' => 'updateCollection(table)'}
            %i.icon-refresh

      .scroll
        %table.table.table-bordered.fields.graygrad{'ng-class' => '{immutable: !isUpdateable()}'}
          %tr
            %th.field-header{'ng-repeat' => 'pill in table.fields', 'ng-controller' => 'FieldController', 'ng-right-click' => 'showValidValuesPopup(pill, $event)', 'ng-class'=> "{active: pill.active == true}"}
              %a.delete{href: 'javascript:', 'ng-click' => 'deleteField($index)', 'ng-hide' => 'table.readonly'}
                %i.icf-delete
              .logic-field-name{draggable: 'true', dragstart: 'fieldDragStart(pill.guid, $event)', 'dragover' => 'dragOverName($event)', 'drop' => 'dropOverName($event)'}
                %div{'ng-hide' => 'table.readonly'}
                  .pill-container{'dragenter' => 'dragEnterPlaceholder($event)', 'dragleave' => 'dragLeavePlaceholder($event)'}
                    .pill.hide-when-dragging
                      %editable-input{'model' => 'pill.name', 'editmode' => 'pill.editmode', 'focusmode' => 'pill.focusmode'}
                    .pill.show-when-dragging
                      {{ pill.name }}
                %span{'ng-show' => 'table.readonly'} {{pill.name}}
            %th{'ng-hide' => 'table.readonly'}
              %a{'ng-click' => 'newField()', href: 'javascript:', title: 'Add column'}
                %i.icp-add
          %tr{'ng-repeat' => 'row in selectedTableRows(table)'}
            %td{'ng-repeat' => 'pill in table.fields', 'ng-controller' => 'FieldController', dragover: 'dragOverValue($event)', drop: 'dropOverValue($event)'}
              {{ row[pill.guid] }}
            %td

          %tr
            %td{'ng-repeat' => 'pill in table.fields', 'ng-controller' => 'FieldController', dragover: 'dragOverValue($event)', drop: 'dropOverValue($event)'}
              %span(ng-include src='pillTemplateFor(pill)')
            %td{'ng-hide' => 'table.readonly'}
    %br
  %div
    = icon_link_to :'icf-add', 'New data', 'javascript:', {'ng-click' => 'newTable()'}
    %br

    .btn-group{'ng-controller' => 'ResourceMapController'}
      = icon_link_to :'icf-connect', 'Add a Resource Map collection', '#', class: 'btn btn-link dropdown-toggle', :'data-toggle' => "dropdown", :'ng-click' => 'listCollections($event)'
      %ul.dropdown-menu
        %li{'ng-show' => 'loading'}
          %a{'href' => '#'} Loading...
        %li.disabled{'ng-show' => '!loading && collections.length == 0'}
          %a{'href' => 'javascript:'} None
        %li{'ng-repeat' => 'collection in collections'}
          %a{'href' => 'javascript:', 'ng-click' => 'addCollection(collection)'} {{collection.name}}

    %br
    %div{'ng-controller' => 'HubController'}
      = icon_link_to :'icf-connect', 'Connect data', 'javascript:', {'ng-click' => 'openEntitySetPicker()'}
      %span{'ng-show' => 'loading'}
        Loading...
