.pill{contenteditable: 'false', 'data-kind' => "{{binding.kind}}", 'data-guid' => "{{binding.guid}}", draggable: 'true', dragstart: 'bindingDragStart(binding)'}<>
  {{lookupImplicitBinding(binding.guid)}}
