.pill{'ng-show' => 'lookupPillStatus(binding) == "bound"', contenteditable: 'false', 'data-kind' => "{{binding.kind}}", 'data-guid' => "{{binding.guid}}", draggable: 'true', dragstart: 'bindingDragStart(binding)'}<>
  {{lookupPillName(binding)}}
.unbound-pill{'ng-show' => 'lookupPillStatus(binding) == "unbound"', contenteditable: 'false', 'data-kind' => "{{binding.kind}}", 'data-guid' => "{{binding.guid}}", draggable: 'true', dragstart: 'bindingDragStart(binding)', dragover: 'dragOverUnboundPill(binding, $event)', drop: 'dropOverUnboundPill(binding, $event)'}<>
  ???
