.app-header
  .container-fluid
    .row-fluid
      .span3
        %a{:href => "/"}
          %img{:src => "/assets/instedd-bootstrap/header/logos/mbuilder.png"}/
      .span9
        %ul.breadcrumb
          %li
            %a{:href => "#"} Nivel uno
          %li
            %a{:href => "#"} Nivel dos
          %li.active
            %span
            Nivel tres
