.testing-sandbox{'ng-controller' => 'MessagesController', 'ng-init' => "applicationId=#{application.id}"}
  .sandbox-header
    %h4 Testing Sandbox
    %small Send messages to test your triggers
    %hr.shadow
  .sandbox-content
    .control-group
      %label{for: :from} From
      .controls
        %input.span12{'ng-model' => 'from', type: :text, name: :from}

    .control-group
      %label{for: :body} Message
      .controls
        %textarea.span12{'ng-model' => 'body', :rows => 5}
    %button.btn.btn-small.btn-warning{'ng-click' => 'send()'} Send

    %div{'ng-show' => 'loading'}
      %hr
      %label Loading ...

    %div{'ng-show' => 'actions.length'}
      %hr
      %label Performed actions
      %ul.p-actions
        %li{'ng-repeat' => 'action in actions', 'class' => "{{action.kind}}" }
          %i
          {{action.text}}
