.pill.field{contenteditable: 'false', draggable: 'true', dragstart: 'dragPill(pill)', 'ng-click' => 'addNewValue()', 'ng-right-click' => 'showAggregateFunctionsPopup(pill, $event)', data: {kind: '{{pill.kind}}', guid: '{{pill.guid}}', aggregate: '{{pill.aggregate}}'}}
  %span.aggregate {{aggregateLabel(pill.aggregate)}}
  {{lookupPillName(pill)}}
