.pill.field{draggable: 'true', dragstart: 'dragPill(pill)', 'ng-click' => 'addNewValue()', 'ng-right-click' => 'showAggregateFunctions(pill, $event)', data: {kind: '{{pill.kind}}', guid: '{{pill.guid}}', fun: '{{pill.fun}}'}}
  %span.fun {{funLabel(pill.fun)}}
  {{lookupPillName(pill)}}
