.pill.unbound{draggable: 'true', dragstart: 'dragPill(pill)', dragover: 'dragOverUnboundPill(pill, $event)', drop: 'dropOverUnboundPill(pill, $event)', data: {kind: '{{pill.kind}}', guid: '{{pill.guid}}'}}
  ???
