.row-fluid
  .span8
    - simple_list :message_trigger, icon: :'trigger-message', create_path: new_application_message_trigger_path(application) do
      - message_triggers.each do |trigger|
        - simple_list_item trigger.name, edit_application_message_trigger_path(application, trigger)

    - simple_list :periodic_task, icon: :'trigger-date', create_path: new_application_periodic_task_path(application) do
      - periodic_tasks.each do |trigger|
        - simple_list_item trigger.name, edit_application_periodic_task_path(application, trigger)

    - simple_list :external_trigger, icon: :'trigger-external', create_path: new_application_external_trigger_path(application) do
      - external_triggers.each do |trigger|
        - simple_list_item trigger.name, edit_application_external_trigger_path(application, trigger)

    - if validation_triggers.present?
      - simple_list :validation_trigger do
        - validation_triggers.each do |trigger|
          - simple_list_item trigger.field_name, application_validation_trigger_path(application, trigger)
