.pill.field{contenteditable: 'false', draggable: 'true', dragstart: 'dragPill(pill)', 'ng-click' => 'addNewValue()', 'ng-right-click' => 'tryShowAggregateFunctionsPopup(pill, $scope, $event)', data: {kind: '{{pill.kind}}', guid: '{{pill.guid}}', aggregate: '{{pill.aggregate}}'}, 'dragenter' => 'dragEnterPlaceholder($event)', 'dragleave' => 'dragLeavePlaceholder($event)'}
  %span.aggregate {{aggregateLabel(pill.aggregate)}}
  {{lookupPillName(pill)}}
