.pill-container
  .pill.literal{contenteditable: 'false', draggable: 'true', dragstart: 'dragPill(pill)', 'ng-repeat' => 'literal in [lookupPill(pill)]', 'data-trigger'=> "{if(pill.text.length > 20){'focus'} else{'manual'}}", 'data-unique' => "1", data: {kind: '{{pill.kind}}', guid: '{{pill.guid}}', text: '{{pill.text}}'}, 'dragenter' => 'dragEnterPlaceholder($event)', 'dragleave' => 'dragLeavePlaceholder($event)'}
    %editable-input{'model' => 'literal.text', 'editmode' => 'literal.editmode', 'focusmode' => 'literal.focusmode'}
