.pill-container
  .pill.bound{contenteditable: 'false', draggable: 'true', dragstart: 'dragPill(pill)', data: {kind: '{{pill.kind}}', guid: '{{pill.guid}}'}, 'data-tooltip-content' =>'{{lookupPillName(pill)}}', 'ng-class' => '{ellipsis: (lookupPillName(pill).length > 20)}'}<>
    {{lookupPillName(pill)}}
    %a.remove_pill{href: 'javascript:', 'ng-click' => 'removePill(pill)'}
      %i.icon-remove
