-# TODO: should not be needed since text pills exists only in pattern/sms body and those are rendered by pill-input control
-# other texts are represented as literal pills
%div.text<>
  {{pill.guid}}
