- if application_table
  %h2 Import data to #{application_table.name}
- else
  %h2 Create a new table

= form_tag upload_application_tables_path(application.id), method: :post, multipart: true, id: 'upload-form' do
  .icon.fexport.black Upload a CSV file
  = hidden_field_tag 'table_guid', params[:table_guid]
  = file_field_tag 'file'

:javascript
  $(function() { $('#upload-form input[type=file]').change(function() { $(this).parents('form').submit() }); });

