.action-content{'ng-controller' => 'ExternalServiceActionController'}
  .action-icon
    %i.i40-condition
  %div
    {{name}}
  %div.removable_pills
    Input:
    %ul.unstyled
      %li(ng-repeat='variable in variables' ng-controller='ExternalServiceActionVariableController')
        %span {{variable.display_name}}
        \=
        %span{dragover: 'dragOverVariable($event)', drop: 'dropOverVariable($event)', 'dragenter' => 'dragEnterPlaceholder($event)', 'dragleave' => 'dragLeavePlaceholder($event)'}
          %span(ng-include src='pillTemplateFor(pill)')
  %div
    Output:
    %ul.unstyled
      %li(ng-repeat='pill in results')
        %span {{outputPillName(pill)}}
        \=
        %span(ng-include src='pillTemplateFor(pill)')
