.foreach{'ng-controller' => 'ActionsController', 'ng-init' => 'actions=action.actions;action=action'}
  %div
    %i.i25-loop
    Foreach
    = render 'shared/table'
  = render 'shared/triggers/actions_contents'
