= icon_link_to :'icp-remove', '', 'javascript:', class: 'remove-field show-on-action-hover plain', 'ng-show'=>'field.canBeRemoved()', 'ng-click'=>'removeField()'

%label {{field.label()}}

%ul.no-bullet.hub-fields
  %li(ng-repeat='field in field.fields()' ng-controller='HubActionArgController')
    %span(ng-include src='fieldViewFor(field)' )

  %li.form-inline(ng-show='field.isOpen()')
    %input.input-small(type='text' ng-model='new_field.name')
    .btn-group
      %button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
        Add field
        %span.caret
      %ul.dropdown-menu
        %li
          %a(href='javascript:' ng-click='addField("string")') Add value field
          %a(href='javascript:' ng-click='addField("struct")') Add struct field
