= icon_link_to :'icp-remove', '', 'javascript:', class: 'remove-field show-on-action-hover plain', 'ng-show'=>'field.canBeRemoved()', 'ng-click'=>'removeField()'

%label {{field.label()}}:

%span{dragover: 'dragOverHubOperand($event)', drop: 'dropOverHubOperand($event)', 'dragenter' => 'dragEnterPlaceholder($event)', 'dragleave' => 'dragLeavePlaceholder($event)'}
  %span(ng-include src='pillTemplateFor(pill)')
