.if{'ng-controller' => 'ActionsController', 'ng-init' => 'actions=action.actions;action=action'}
  %i.i25-condition
  If
  %span.combo{'ng-click' => 'showIfAggregatesPopup(action, $event)', 'ng-right-click' => 'showIfAggregatesPopup(action, $event)', 'ng-show' => 'mustShowIfAggregate(action)'} {{ifAggregateDescription(action.all)}}
  %span{'ng-repeat' => 'pill in [action.left]'}
    %span.if-operand{dragover: 'dragOverIfOperand($event)', drop: 'dropOverIfLeft($event)'}
      %span(ng-include src='pillTemplateFor(pill)')
  %span.combo{'ng-click' => 'showIfOperatorsPopup(action, $event)', 'ng-right-click' => 'showIfOperatorsPopup(action, $event)'} {{ifOperatorDescription(action.op, action.all)}}
  %span{'ng-repeat' => 'pill in action.right'}
    %span{'ng-show' => '$index == 1'} and
    %span.if-operand{dragover: 'dragOverIfOperand($event)', drop: 'dropOverIfRight($index, $event)'}
      %span(ng-include src='pillTemplateFor(pill)')
  = render 'shared/triggers/actions_contents'
  = render 'shared/triggers/add_sub_action'
