Filter
= render 'shared/table'
where
= render 'shared/field'
%span{'ng-show' => "action.pill.kind == 'field_value'"}
  is one of the
%span{'ng-hide' => "action.pill.kind == 'field_value'"}
  is
= render 'shared/pill'
