.action-content{'ng-controller' => 'SendMessageController'}
  .action-icon
    %i.i40-sms
  %div
    Send SMS to:

    %span{'ng-repeat' => 'pill in [action.recipient]'}
      / ng-include pillTemplateFor only works if pill is in scope
      / action.recipient is always a single pill
      %span.removable_pills{dragover: 'dragOverRecipient($event)', drop: 'dropOverRecipient($event)', 'dragenter' => 'dragEnterRecipient($event)', 'dragleave' => 'dragLeaveRecipient($event)'}
        %span(ng-include src='pillTemplateFor(pill)')

    %hr
    %textpad(model='action.message')
