Select
.dead-pill {{lookupTableName(action.table)}}
where
.dead-pill
  {{lookupFieldName(action.table, action.field)}}
is
.pill{draggable: 'true', dragstart: 'bindingDragStart(action.pill)'}
  {{lookupPillName(action.pill)}}
