Select
.dead-pill {{lookupTableName(action.table)}}
where
.pill{draggable: 'true', dragstart: 'bindingDragStart(action.pill)'}
  {{lookupFieldName(action.table, action.field)}}
is
.dead-pill {{lookupPillName(action.pill)}}
