%div{'ng-controller' => 'SendMessageController'}
  Send this mesasge
  %br
  .message-area{contenteditable: '{{action.contenteditable}}', 'ng-blur' => 'makeNotEditable($event)', 'ng-mousedown' => 'makeEditable($event)', dragover: 'dragOverMessage($event)', drop: 'dropOverMessage($event)', 'ng-keydown' => 'handleMessageKey($event)'}
    %span{contenteditable: 'false'}
    %span.piece-container{'ng-repeat' => 'binding in action.message', 'ng-include' => true, 'src' => 'bindingTemplateFor(binding.kind)'}<>
  %br
  to
  %input{'ng-model' => "action.recipient"}
