Store
.pill{draggable: 'true', dragstart: 'bindingDragStart(action.pill)'}
  {{lookupPillName(action.pill)}}
as
.dead-pill
  {{lookupFieldName(action.table, action.field)}}
of
.dead-pill {{lookupTableName(action.table)}}
