/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require listings
 *= require recurring_select
 *= require pigeon
 *= require bootstrap-timepicker
 *= require pill_input
 */

@import "instedd-bootstrap";

//-------------------- Fonts -----------------------
//--------------------------------------------------
@font-face {
    font-family: 'TheSansPlain';
    src: font-url('thesansp-webfont.eot');
    src: font-url('thesansp-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('thesansp-webfont.woff') format('woff'),
         font-url('thesansp-webfont.ttf') format('truetype'),
         font-url('thesansp-webfont.svg#clarendon_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'TheSansBlack';
    src: font-url('thesanbp-webfont.eot');
    src: font-url('thesanbp-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('thesanbp-webfont.woff') format('woff'),
         font-url('thesanbp-webfont.ttf') format('truetype'),
         font-url('thesanbp-webfont.svg#clarendon_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}



.message-container {
  @include border-radius(3px);
  @include box-shadow(1px 1px 5px 0px rgba( 0, 0, 0, 0.4 ));

  > div {
    padding: 10px;
  }

  > div + div {
    padding-top: 0px;
  }
}
input.n {
  border: none;

  &:focus {
    @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.3) inset);
  }
}

.message-area {
  border-top: 1px solid #e7e7e7;
  padding: 10px;
  min-height: 30px;
  margin-bottom: 8px;
  cursor: default;
}

.message-input {
  @include border-radius(4px);
  border: 1px solid #cdcdcd;
  height: 24px;
  padding: 10px;
  cursor: default;
}

a.delete {
  display: none;
  position: absolute;
  right: 0px;
  top: 3px;
  z-index: 2;
  i {
    background-position-y:-40px;
  }
}

.field-header .delete {
  top: 1px;
}

.field-header.hover .delete {
  display: block;
}

.logic-table {

  position: relative;

  &.hover > .delete {
    display: block;
  }

  .table {
    border-top: 3px solid #555555;

    th.field-header {
      padding-left: 16px;
    }
  }
}

.logic-table-name {
  @include border-radius(3px 3px 0 0);
  background: #555555;
  color: $white;
  padding: 5px 8px;
  display: inline-block;
  margin: 0 0 -1px 3px;
  cursor: move;
  input[type="text"] {
    background: #2e74e8;
    color: $white;
  }
}

.logic-field-name {
  cursor: move;
}

.field-header.active {
  background: #e8e7e7 !important;
}

.action-container {
  @include border-radius(3px);
  @include box-shadow(1px 1px 5px 0px rgba( 0, 0, 0, 0.4 ));
  margin-bottom: 30px;

  > .space-between-actions + div .action {
    background-image:none !important;
  }
  > .a-container > .action {
    background: url("action-separator.png") no-repeat center top;

    &.selected {
      background-color: #cae3f1;
      + .space-between-actions {
        /*background-color: #cae3f1;*/
        position: relative;
        &:after {
          content:'';
          display: block;
          position: absolute;
          left: 50%;
          margin-left: -17px;
          bottom: -7px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 15px 0 15px;
          border-color: #cae3f1 transparent transparent transparent;
        }
      }
      .pill {
        background: #ffffff;
        border-color: #cdcccc;
      }
    }
  }
}
.action {
  padding: 15px 0 10px 10px;
  cursor: move;
  position: relative;

  &:active {
    background: #e8e7e7 !important;

    i[class^="i25-"] {
      background-color: #e8e7e7;
    }
  }

  &.selected {
    background: #cae3f1;

    i[class^="i25-"] {
      background-position-y: -25px;
      background-color: #cae3f1;
    }

    // otherwise style of icons in dropdown menu where affected if the action is selected
    .dropdown-menu i[class^="i25-"] {
      background-position-y: 0px;
      background-color: transparent;
    }

    i[class^="i40-"] {
      background-position-y: -40px;
    }
  }

  &.hover > .delete {
    display: block;
  }

  .action {
    @include box-shadow(none);
    border: none;
  }

  .action-content {
    @include box-sizing(border-box);
    width: 100%;
    padding: 0 10px 0 45px;
    > div {
      margin-bottom: 5px;
    }
    .action-icon {
      float: left;
      position: relative;
      margin-left: -45px;

    }
  }
}
.if,
.foreach {

  > .a-container,
  > .space-between-actions {
    margin-left: 30px;
  }
  .a-container + .a-container {
    background: url("action-separator-in.png") no-repeat center top;
    padding-top: 20px;
  }
}

.if.ng-scope {
  background-image:url("back-if.png");
  background-repeat: repeat-y;
  background-position: 12px 10px;

  .i25-condition {
    background-color: #ffffff;
  }

  &:after {
    content:'';
    display: table;
    background: url("back-if-arrow.png")no-repeat;
    width: 14px;
    height: 12px;
    margin-left: 12px;
    margin-top: -5px;
    float: left;
  }
}
.foreach.ng-scope {
  background-image:url("back-foreach.png");
  background-repeat: repeat-y;
  background-position: 14px 10px;

  .i25-loop {
    background-color: #ffffff;
  }

  &:after {
    content:'';
    display: table;
    background: url("back-foreach-arrow.png")no-repeat;
    width: 14px;
    height: 12px;
    margin-left: 14px;
    margin-top: -5px;
    float: left;
  }
}

.space-between-actions {
  @include transition(all ease 0.3s);
  height: 0px;
}

.new-action {
  background: #ffffff;
  border-top: 1px solid #cdcdcd;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.new-sub-action {
  padding: 10px 20px;
  position: relative;
}

.text {
  display: inline-block;
}

table.fields {
  /*min-width: 300px;*/
  width: 100%;

  th {
    input[type="text"] {
      background: #2e74e8;
      color: $white;
    }
  }
}

table.fields td {
  min-width: 80px;
}

table.fields td div {
  min-height: 22px;
  padding-top: 1px;
}

.logic-table input {
  padding: 0px !important;
  margin: 0px !important;
}


/*table.fields th, table.fields td {
  padding: 4px;
}*/

table.fields input {
  margin: 0px;
}

table.fields .input-small {
  width: 120px;
}

.popup {
  @include border-radius(4px);
  @include box-shadow(0px 10px 10px rgba(128, 128, 128, 0.5));
  background: white;
  border: 1px solid #eee;
  padding: 4px 10px 4px 10px;
  display: none;
  z-index: 1;
  position: absolute;

  .description {
    font-size: .9em;
    color: #777777;
  }
}

.popup .selected {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.popup#valid-values {
  width: 230px;
}

#aggregate-functions a, .if-operators a, #if-aggregates a {
  color: black;
}

.aggregate {
  font-style: italic;
  margin-right: 6px;
}

.combo {
  border-bottom: 1px dashed #999;
  cursor:pointer;
}

input.small {
  width: 40px;
}

.scroll {
  overflow: scroll;
}

html,
body {
  height: 100%;
}

.triggers-menu {
  display: none;

  a {
    color: #555655;
    text-align: center;
    display: inline-block;
    width: 60px;
    margin-right: 8px;
  }

  &.show {
    display: block;
  }
}
.messages-box {
  @include border-radius(3px);
  border: 1px solid #cdcdcd;
  display: inline-block;
  padding: 5px 15px 15px;
  margin-bottom: 10px;

  h1 small {
    font-size: 35%;
    line-height: 1.2em;
    color: inherit;
    display: block;
  }
}
.received-at {
  margin-top: 8px;
}


//-------------------- Dragging ----------------------
//----------------------------------------------------
body {
  &.dragging-table,
  &.dragging-action {

    .space-between-actions {
      @include transition(all ease 0.3s);
      height: 34px;
      position: relative;

      &:before {
        content:'';
        display: block;
        margin: 2px 10px;
        background: #cae3f1;
        height: 14px;
        @include border-radius(4px);
        border: 1px dashed #5ba0d3;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }

      &:after {
        content: 'drop here';
        display: block;
        font-size: 11px;
        color: #5ba0d3;
        position: absolute;
        width: 100%;
        top: 11px;
        text-align: center;
      }
    }
  }

  &.dragging-table {
    .pill.table-ref {
      border-color: #1e86c8;
      background-color: #cae3f1;
      &.drop-preview {
        background: darken(#cae3f1, 15%);
        color: $white;
      }
    }
  }

  &.dragging-pill {
    .pillInput, .message-input {
        border-color: #1e86c8;
        background: white !important;
    }

    .pill:not(.table-ref) {
      border-color: #1e86c8;
      background-color: #cae3f1;

      &.drop-preview {
        background: darken(#cae3f1, 15%);
        color: $white;
      }
    }

    .pill.new,
    .pill.literal,
    .pill.literal span,
    .pill.field {
      color: #1e86c8;
      &.drop-preview, &.drop-preview span{
        color: white !important;
        background: darken(#cae3f1, 15%) !important;
        border-color: #1e86c8 !important;
      }
    }
    .pill.literal.drop-preview span {
      pointer-events: none
    }

    .space-between-actions {
      height: 34px;
      position: relative;

      &:before {
        content:'';
        display: block;
        margin: 2px 10px;
        background: #cae3f1;
        height: 14px;
        @include border-radius(4px);
        border: 1px dashed #5ba0d3;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }

      &:after {
        content: 'drop here';
        display: block;
        font-size: 11px;
        color: #5ba0d3;
        position: absolute;
        width: 100%;
        top: 11px;
        text-align: center;
      }
    }
  }

  &.dragging-table,
  &.dragging-action,
  &.dragging-pill {
    .space-between-actions {
      &.drop-preview:before {
        background: darken(#cae3f1, 15%);
      }
      &.drop-preview:after {
        color: $white;
      }
    }
  }
}



//-------------------- Pills -------------------------
//----------------------------------------------------

.pill-container {
  display: inline-block;
  position:relative;
}

th .ellipsis {
  &:hover:after {
    top: 26px;
    bottom: initial;
    padding: 5px 15px;
  }
  &:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    top: 20px;
  }
}

.ellipsis {
  margin-top: -3px;
  vertical-align:middle;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;

  &:hover:after {
    background: rgba(0,0,0,.8) !important;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-tooltip-content);
    left: 10%;
    padding: 5px 15px;
    position: absolute;
    z-index: 99;
    max-width: none;
    display: inline-block;
    overflow: visible;
  }
  &:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 98;
  }
}

.pill {
  @include border-radius(15px);
  padding: 2px 8px;
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;

  &.sample {
    border: 1px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
  }

  &.bound, &.placeholder {
    border: 1px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
    cursor: move;
  }

  &.new {
    border: 1px dashed transparent;
    margin-left: 4px;
    margin-right: 4px;
    color: #aaa;
  }

  &.field {
    border: 1px dashed transparent;
    line-height: 20px;
    color: #999;
    padding: 2px 14px;
    cursor: move;
  }

  &.unbound {
    border: 1px dashed transparent;
    color: #ff6666;
    cursor: move;
  }

  &.table-ref {
    border: 1px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
  }

  &.field-ref {
    border: 1px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
  }

  &.literal {
    border: 1px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
    height: 20px !important;
    cursor: move;
    span {
      color: #aaa;
    }
  }

  &.literal input {
    margin: 0;
    padding: 0;
    margin-top: -3px;
    height: 18px !important;
  }
}

.action:hover,
.table:hover,
.message-container:hover {

  .pill {

    &.sample {
      border: 1px solid #ddd;
      /*background: #ddd;*/
    }

    &.bound, &.placeholder {
      border: 1px solid #ddd;
      /*background: #ddd;*/
      cursor: move;
    }

    &.new {
      border: 1px dashed #ddd;
      color: #aaa;
    }

    &.field {
      border: 1px dashed #ddd;
      color: #999;
      /*background: #f3f3f3;*/
      cursor: move;
    }

    &.unbound {
      border: 1px dashed red;
      color: #ff6666;
      /*background-color: #ffeeee;*/
      cursor: move;
    }

    &.table-ref {
      border: 1px solid #999;
      /*background: #f9f9f9;*/
    }

    &.field-ref {
      border: 1px solid #ddd;
      /*background: #f9f9f9;*/
    }

    &.literal {
      border: 1px solid #ddd;
      background: #e8e7e7;
      cursor: move;
    }

    &.literal input {
    }
  }

}

//-------------------- Classes -----------------------
//----------------------------------------------------

.title {
  font-size: 20px;
  padding: 8px 0 14px;
}

.time-picker {
  .time-schedule {
    border-bottom: 1px dashed #cdcdcd;
    display: inline-block;
    margin: 0 4px;
  }
  select {
    border: none;
    font-weight: bold;
    width: auto;
    vertical-align: baseline;
    margin: 0;
  }
  .bootstrap-timepicker {
    display: inline-block;
    border-bottom: 1px dashed #cdcdcd;
    margin: 0 4px;
  }
  input[type="text"]{
    @include box-shadow(none);
    background: none;
    font-weight: bold;
    border: none;
    width: 60px;
    margin: 0;
    vertical-align: baseline;
    cursor: pointer;
  }
}

//-------------- Home --------------------------
//----------------------------------------------

.homepage {

  .row-fluid {
    margin-bottom: 20px;
  }

  h1 {
    font-family: TheSansBlack, Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: #000000;
    line-height: 35px;
    margin: 5px 0 10px 0;

    small {
      font-family: TheSansPlain, Arial, Helvetica, sans-serif;
      font-size: 24px;
      color: inherit;
      line-height: 24px;
      margin-bottom: 18px;
      margin-top: 10px;
      display: block;
    }
  }

  .main-img {
    margin-top: 50px;
    h1 {
      color: #ff6600;
    }
  }

  .what-can-i-use {
    margin-bottom: 40px;

    h1 + p {
      font-size: 18px;
      line-height: 22px;
    }
    span {
      @include border-radius(6px);
      @include box-shadow(0 1px 1px 0px rgba(0, 0, 0, 0.3) inset);
      background-color: #d0d0d0;
      margin: 0 12px 8px 0;
      padding: 6px;
      text-align: center;
      display: block;
      float: left;
    }
  }
}

.onepager {
  text-align: right;
  padding-top: 40px;
  a {
    color: #555555 !important;
  }
}

body.centred {
  .navbar.top {
    .navbar-inner { padding: 0 }
    .span3 {
      position: relative;
      >.btn-group {
        position: absolute;
        right: 50px;
        top: -1px;
        max-width: 230px;
        .button-link {
          float: right;
        }
      }
      .sign_up_link {
        margin-right: 5px;
      }
    }
  }
}

.carousel-indicators {
  top: 175px;
  left: 50%;
  margin-left: -64px;

  li {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;

    &.active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.how-can-i-help .muted {
  color: #555555;
}

//-------------- Testing Sandbox ---------------
//----------------------------------------------

.testing-sandbox {
  @include border-radius(5px);
  @include box-shadow(0 2px 0 0 rgba(0,0,0,0.5));
  background: #d0d0d0;
}
.sandbox-header {
  @include box-sizing(border-box);
  padding: 10px 10px 0;
  cursor: pointer;
}
.sandbox-content {
  @include box-sizing(border-box);
  padding: 2px 10px 10px;
}
hr.shadow {
  border: none;
  height: 12px;
  background-image: linear-gradient(to bottom, #bbbbbb, #cecece);
  margin: 8px -10px;
}

.sandbox-container {
  position: absolute;
  bottom: 149px;
  right: 20px;
  z-index: 1000;

  >div {
    @include transition(all ease 0.3s);
    width: 348px;
    height: 80px;
    overflow: hidden;
  }
  .testing-sandbox {
    @include border-radius(5px 5px 0 0);
    @include box-shadow(none);

    input.span12,
    textarea.span12 {
      width: 315px !important;
    }
  }

  &.show {
    >div {
      height: auto;
    }
  }

}

.dropzone {
  cursor: copy;
}

.dropzone .pill {
  cursor: copy;
}

.svgInputHelp {
  float: right;
}

.svgInputHelp span {
  color: #ddd;
}

/* all */
::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }


.p-actions {
  padding: 0;
  margin: 10px 0;

  li {
    background: url("t-sand-sep.png") no-repeat center top;
    list-style: none;
    margin: 0;
    padding: 10px 0;

    i {
      background-image: url("icons-40x40.png");
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      background-position: 40px 40px;
      background-repeat: no-repeat;
      background-position-y: -80px !important;
    }

    &.send_message i {
      @extend .i40-sms;
    }

    &.insert i {
      @extend .i40-intdata;
    }

    &.update i {
      @extend .i40-intdata;
    }

    &.info i {
      @extend .i40-rarrow;
    }

    &.invalid_value i {
      @extend .i40-invalid;
    }

    &.error i {
      @extend .i40-error;
    }

    &.warning i {
      @extend .i40-error;
    }
    &:first-child {
      background: none;
    }
  }
}

//-------------- Icons --------------------
//-----------------------------------------

[class^="i25-"],
[class*=" i25-"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  background-image: url("icons-25x25.png");
  background-position: 25px 25px;
  background-repeat: no-repeat;
}

.i25-condition          { background-position: 0         0; }
.i25-loop               { background-position: -25px     0; }
.i25-sms               { background-position: -50px     0; }


[class^="i40-"],
[class*=" i40-"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  background-image: url("icons-40x40.png");
  background-position: 40px 40px;
  background-repeat: no-repeat;
}

.i40-condition          { background-position: 0         0; }
.i40-sms                { background-position: -40px     0; }
.i40-intdata            { background-position: -80px     0; }
.i40-select             { background-position: -120px    0; }
.i40-date               { background-position: -160px    0; }
.i40-email              { background-position: -200px    0; }
.i40-loop               { background-position: -240px    0; }
.i40-group              { background-position: -280px    0; }
.i40-extdata            { background-position: -320px    0; }
.i40-rarrow             { background-position: -360px    0; }
.i40-error              { background-position: -400px    0; }
.i40-invalid            { background-position: -440px    0; }

//-------------- Empty Trigers list ------------
//----------------------------------------------

.empty-triggers {
  margin-top: 70px;
  text-align: center;
  color: #999999;
  p {
    text-align: center;
    font-style: italic;
    font-size: 1.15em;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  a {
    color: #555555;
  }
}

//------------------ Table import -------------------
//---------------------------------------------------

.table-import-collapsible {
  display: inline-block;
  margin-left: 10px;
}

table.graygrad.import-specs {
  tr {
    th {
      select, input {
        width: 100%;
        padding: 4px 6px;
        margin: 0;
      }
      padding-bottom: 5px;
    }
  }
}

