/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require listings
 *= require recurring_select
 *= require pigeon
 *= require_tree .
 */

.message-container {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px;
}

.message-container .from {
  margin-bottom: 10px;
}

.message-area {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px;
  min-height: 30px;
  margin-bottom: 8px;
  cursor: default;
}

.message-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  height: 24px;
  padding: 10px;
  cursor: default;
}

.logic-table {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px;
}

.logic-table-name {
  cursor: move;
}

.logic-field-name {
  cursor: move;
}

.action {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #bbbbbb;
  padding: 10px;
  cursor: move;
}

.action.selected {
  border: 2px solid blue;
}

.space-between-actions {
  height: 20px;
  width: 100%;
  background-color: #fafafa;
}

.new-action {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
}

a.delete {
  float: right;
}

.pill {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
}

.pill.bound {
  border: 1px solid #ddd;
  background: #ddd;
  margin-left: 4px;
  margin-right: 4px;
  cursor: move;
}

.pill.new {
  border: 1px dashed #ddd;
  color: #aaa;
}

.pill.field {
  border: 1px dashed #ddd;
  color: #999;
  background: #f3f3f3;
  cursor: move;
}

.pill.unbound {
  border: 1px dashed red;
  color: #ff6666;
  background-color: #ffeeee;
  cursor: move;
}

.pill.table-ref {
  border: 1px solid #999;
  background: #f9f9f9;
  margin-left: 4px;
  margin-right: 4px;
}

.pill.field-ref {
  border: 1px solid #ddd;
  background: #f9f9f9;
  margin-left: 4px;
  margin-right: 4px;
}

.pill.literal {
  border: 1px solid #ddd;
  background: #f1FFf1;
  margin-left: 4px;
  margin-right: 4px;
  cursor: move;
}

.text {
  display: inline-block;
}

table.fields {
  min-width: 300px;
  width: auto;
}

table.fields td {
  min-width: 80px;
}

table.fields td div {
  min-height: 22px;
  padding-top: 1px;
  padding-left: 1px;
}

.logic-table input {
  padding: 0px !important;
  margin: 0px !important;
}

.logic-table-name {
  margin-bottom: 8px;
}

table.fields th, table.fields td {
  padding: 4px;
}

table.fields input {
  margin: 0px;
}

table.fields .input-small {
  width: 120px;
}

.popup {
  z-index: 1;
  position: absolute;
  background: white;
  display: none;
  border: 1px solid #eee;
  padding: 4px 10px 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.5);
  -moz-box-shadow:    0px 10px 10px rgba(128, 128, 128, 0.5);
  box-shadow:         0px 10px 10px rgba(128, 128, 128, 0.5);
}

#aggregate-functions a {
  color: black;
}

.aggregate {
  font-style: italic;
}

input.small {
  width: 40px;
}

.scroll {
  overflow: scroll;
}

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -80px;
}

#wrap > .container-fluid {
  padding-top: 60px;
}
.container-fluid .credit {
  margin: 20px 0;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
  margin-top: 20px;
}

#footer {
  background-color: #f5f5f5;
}
