/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require listings
 *= require recurring_select
 *= require pigeon
 *= require bootstrap-timepicker
 */

@import "instedd-bootstrap";

.message-container {
  @include border-radius(3px);
  @include box-shadow(1px 1px 5px 0px rgba( 0, 0, 0, 0.4 ));

  >div {
    padding: 10px;
  }
}
input.n {
  border: none;

  &:focus {
    @include box-shadow(0px 1px 2px 1px rgba(0, 0, 0, 0.3) inset);
  }
}

.message-area {
  border-top: 1px solid #e7e7e7;
  padding: 10px;
  min-height: 30px;
  margin-bottom: 8px;
  cursor: default;
}

.message-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  height: 24px;
  padding: 10px;
  cursor: default;
}

.logic-table {

  .table {
    border-top: 3px solid #555555;
  }

}

.logic-table-name {
  @include border-radius(3px 3px 0 0);
  background: #555555;
  color: $white;
  padding: 5px 8px;
  display: inline-block;
  margin: 0 0 -1px 3px;
  cursor: move;
  input[type="text"] {
    background: #2e74e8;
    color: $white;
  }
}

.logic-field-name {
  cursor: move;
}

.action {
  @include border-radius(3px);
  @include box-shadow(1px 1px 5px 0px rgba( 0, 0, 0, 0.4 ));
  padding: 10px;
  cursor: move;

  &:active {
    background: #e8e7e7 !important;
  }

  &.selected {
    background: #cae3f1;
  }
}

.space-between-actions {
  height: 20px;
  width: 100%;
  background-color: #fafafa;
}

.new-action {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
}

a.delete {
  float: right;
}

.pill {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
}

.pill.sample {
  border: 1px solid #ddd;
  background: #ddd;
  margin-left: 4px;
  margin-right: 4px;
}

.pill.bound {
  border: 1px solid #ddd;
  background: #ddd;
  margin-left: 4px;
  margin-right: 4px;
  cursor: move;
}

.pill.new {
  border: 1px dashed #ddd;
  color: #aaa;
}

.pill.field {
  border: 1px dashed #ddd;
  color: #999;
  background: #f3f3f3;
  cursor: move;
}

.pill.unbound {
  border: 1px dashed red;
  color: #ff6666;
  background-color: #ffeeee;
  cursor: move;
}

.pill.table-ref {
  border: 1px solid #999;
  background: #f9f9f9;
  margin-left: 4px;
  margin-right: 4px;
}

.pill.field-ref {
  border: 1px solid #ddd;
  background: #f9f9f9;
  margin-left: 4px;
  margin-right: 4px;
}

.pill.literal {
  border: 1px solid #ddd;
  background: #f1FFf1;
  margin-left: 4px;
  margin-right: 4px;
  height: 20px !important;
  cursor: move;
}

.pill.literal input {
  margin: 0;
  padding: 0;
  margin-top: -2px;
  height: 18px !important;
}

.text {
  display: inline-block;
}

table.fields {
  /*min-width: 300px;*/
  width: 100%;

  th {
    input[type="text"] {
      background: #2e74e8;
      color: $white;
    }
  }
}

table.fields td {
  min-width: 80px;
}

table.fields td div {
  min-height: 22px;
  padding-top: 1px;
  padding-left: 1px;
}

.logic-table input {
  padding: 0px !important;
  margin: 0px !important;
}


/*table.fields th, table.fields td {
  padding: 4px;
}*/

table.fields input {
  margin: 0px;
}

table.fields .input-small {
  width: 120px;
}

.popup {
  z-index: 1;
  position: absolute;
  background: white;
  display: none;
  border: 1px solid #eee;
  padding: 4px 10px 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.5);
  -moz-box-shadow:    0px 10px 10px rgba(128, 128, 128, 0.5);
  box-shadow:         0px 10px 10px rgba(128, 128, 128, 0.5);
}

.popup .selected {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#aggregate-functions a, #if-operators a, #if-aggregates a {
  color: black;
}

.aggregate {
  font-style: italic;
}

.combo {
  border-bottom: 1px dashed #999;
  cursor:pointer;
}

input.small {
  width: 40px;
}

.scroll {
  overflow: scroll;
}

html,
body {
  height: 100%;
}

.triggers-menu {
  display: none;

  a {
    color: #555655;
    text-align: center;
    display: inline-block;
    width: 60px;
    margin-right: 8px;
  }

  &.show {
    display: block;
  }
}

//-------------------- Classes -----------------------
//----------------------------------------------------

.title {
  font-size: 20px;
  padding: 8px 0 14px;
}

//-------------- Testing Sandbox ---------------
//----------------------------------------------

.testing-sandbox {
  @include border-radius(5px);
  @include box-shadow(0 2px 0 0 rgba(0,0,0,0.5));
  background: #d0d0d0;
}
.sandbox-header {
  @include box-sizing(border-box);
  padding: 10px 10px 0;
  cursor: pointer;
}
.sandbox-content {
  @include box-sizing(border-box);
  padding: 2px 10px 10px;
}
hr.shadow {
  border: none;
  height: 12px;
  background-image: linear-gradient(to bottom, #bbbbbb, #cecece);
  margin: 8px -10px;
}

.sandbox-container {
  position: absolute;
  bottom: 149px;
  right: 20px;
  z-index: 1000;

  >div {
    @include transition(all ease 0.3s);
    width: 348px;
    height: 80px;
    overflow: hidden;
  }
  .testing-sandbox {
    @include border-radius(5px 5px 0 0);
    @include box-shadow(none);

    input.span12,
    textarea.span12 {
      width: 315px !important;
    }
  }

  &.show {
    >div {
      height: auto;
    }
  }

}

.dropzone {
  cursor: copy;
}

.dropzone .pill {
  cursor: copy;
}
