.svgInput {
  width:100%;
  height:100px;
  background: #ffffff;
  border: 1px #cccccc solid;
  border-radius: 4px;
  position:relative;
    box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.25);

  &.svgInput-focus {
    border: 1px #999999 solid;
  }
}
svg {
  .char {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size:14px;
    font-family: "Arial";
    fill:#000000;
  }

  .char-focus {
    fill:#ffffff;
  }

  .operator {
    fill: rgba(0, 0, 0, 0.66);
    font-style: italic;
    pointer-events: none;
  }

  .pill {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size:14px;
    font-family: "Arial";
    fill:#cccccc;
  }

  .pill-focus {
    fill:#ff6600;
  }

  .arrow {
    cursor: pointer;
  }
}
