- content_for :instedd_content do
  - full_row do
    = render 'shared/application_tabs'

  .row-fluid{'ng-app' => 'mbuilder-messages'}
    .span12
      .row-fluid{'ng-controller' => 'LogsController'}
        .span9
          %h4 Recent Activity

          #logsController
            = render_listing :logs

        .span3
          = render 'shared/testing_sandbox'
