.pill.field-ref{'ng-show' => 'fieldExists(action.table, action.field)'}
  {{lookupFieldName(action.table, action.field)}}
.pill.unbound{'ng-hide' => 'fieldExists(action.table, action.field)', 'dragover' => 'dragOverUnboundField(action.table, action.field, $event)', 'drop' => 'dropOverUnboundField(action.table, action.field, $event)'}
  ???
