.pill.field-ref{'ng-show' => 'fieldExists(action.field)'}
  {{lookupFieldName(action.field)}}
.pill.unbound{'ng-hide' => 'fieldExists(action.field)', 'dragover' => 'dragOverUnboundField(action.field, $event)', 'drop' => 'dropOverUnboundField(action.field, $event)'}
  ???
