- content_for :html_title do
  mBuilder

- content_for :app_name do
  mbuilder

- content_for :app_logo do
  - image_tag "/assets/instedd-bootstrap/header/logos/mbuilder.png"
  :javascript
    window.hub_url = "#{HubClient.current.url}"

- content_for :app_version do
  = Mbuilder::Application.config.version_name

- top_nav_bar do
  - top_nav_bar_item 'Home', root_path
  - top_nav_bar_item 'Applications', applications_path, @application_tab.not_nil?


= render template: 'instedd/application'
