- content_for :instedd_content do
  - full_row do
    = render 'shared/application_tabs'

  .row-fluid
    .span9
      = yield
    .span3(ng-app='mbuilder-messages')
      = render 'shared/testing_sandbox'

= render template: 'layouts/application'
