- content_for :instedd_content do

  %div{'ng-app' => 'mbuilder'}
    - angular_templates "shared/angular"
    - angular_templates "shared/actions"
    - angular_templates "shared/pieces"
    - angular_templates "shared/pills"
    - angular_templates "shared/schedules"

    = yield

= render template: 'layouts/application'
