- content_for :instedd_content do
  - full_row do
    = render 'shared/application_tabs'

  .sandbox-container
    = render 'shared/testing_sandbox'
  = yield

= render template: 'layouts/application'
